<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Metric task</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <script>
        function myFunction() {
            var domain_url= $('#domain_url').val();
            $.ajax({
                url: "/join",
                type: "POST",
                data: {domain_url:domain_url}
            }).done(function(response) {
                var html= "<br><br><br><p> <b> RESULT : <b><p>";
                response =response.result;
                $.each(response,function(key,val){
                    console.log(val);
                    html+="<p>"+val+"<p>"
                });
                html +="<br>";
                $(".show-data").append(html);
            });
        };
    </script>
    <body>
        <p>
        Getting information about given url<br><br>
            Domain <input type="text" id="domain_url" name="domain_url"><br><br>
            <button id="clicked" onclick="myFunction()" style="background-color: #117a8b; color: white">Research</button>
        </p>
        <div class="show-data" >
        </div>
    </body>
</html>